.header {
  background-color: $color-grey-dark-2;
  grid-column: full-start / col-end 6;
  padding: 8rem;
  // padding-top: 4rem;

  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  // grid-template-rows: min-content 1fr repeat(3, min-content) 1fr min-content;
  // grid-template-columns: max-content;
  //since the grig container doesnt occupy all the space it is not centerd, so we use justify-content wich works only if there is space available.
  justify-content: center;
  gap: 1.5rem 0;

  &__btn {
    justify-self: start;
    align-self: start;
  }
  &__logo {
    height: 3rem;
    justify-self: center;
  }
  &__seenon-text {
    font-size: 1.6rem;
    color: $color-grey-light-2;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    column-gap: 1.5rem;

    &::before,
    &::after {
      content: '';
      height: 1px;
      display: inline-block;
      background-color: currentColor;
    }
  }
  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-column: 3rem;
    img {
      height: 2.5rem;
      // background-color: rgba(black, 0.5);
      filter: brightness(70%);
    }
  }
}
