.homes {
  //   background-color: $color-secondary;
  margin: 15rem 0;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}
.home {
  background-color: $color-grey-light-1;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
  &__img {
    // as soon as I define the grid row and clolumn the img gets the requires height and width, because it is constrained by the row and column
    // background-size: cover;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  &__like {
    // this shifts the heart to end of card
    justify-self: end;
    grid-area: 1/2/2/3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
  }
  &__name {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 80%;
    justify-self: center;
    align-self: flex-end;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem;
    background-color: $color-secondary;
    color: white;
    font-weight: 400;
    //this is to move the name down a little
    transform: translateY(50%);

    // my solution to making the name of home a little bit upward
    // margin-top: -2.9rem; //<== NOTE
    // grid-column: 1/-1;
    // width: 80%;
    // justify-self: center;
    // font-family: $font-display;
    // font-size: 1.6rem;
    // text-align: center;
    // padding: 1.5rem;
    // background-color: $color-secondary;
    // color: white;
    // font-weight: 400;
  }
  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }
  &__location,
  &__rooms,
  &__area,
  &__price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
    p {
    }
  }
  &__btn {
    grid-column: 1/-1;
  }
}
